<p id="notice"><%= notice %></p>

<h1>Noticias</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Titulo</th>
      <th>Conteudo</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticias.each do |noticia| %>
      <tr>
        <td><%= noticia.autor %></td>
        <td><%= noticia.titulo %></td>
        <td><%= noticia.conteudo %></td>
        <td><%= noticia.imagem %></td>
        <td><%= link_to 'Mostrar', noticia, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Editar', edit_noticia_path(noticia), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Excluir', noticia, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Notícia', new_noticia_path, class: 'btn btn-primary' %>
